html{
    background:;
    font-family: Helvetica;
}

section{
    margin: 50px;
}

.icon-holder{
    font-family: FontAwesome;
    font-size: 25px;
    /* fill:#0077b5; */
}
#github{
    fill: #503487;
}

#linkedin{
    fill: #0077b5;
}
/* Add a black background color to the top navigation */
.navbar {
    background-color: #333;
    overflow: hidden;
    padding-left: 50px;

}

/* Style the links inside the navigation bar */
.navbar a {
    
    display: inline-block; 
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.navbar a.active {
    background-color: #4CAF50;
    color: white;
}


.svg{
    position: absolute;
    z-index: 1;
}
svg {
  height: 600px;
  width: 700px;  
 /*  border: 3px solid #eee; */
  display: block;
  margin: 1em auto;
}
p {
  color: #aaa;
  text-align: center;
  margin: 2em 0;
}



/* Introduction */

.myName{
    display: block;
    margin: 0;
    padding:0px;
    width: 100%;
    height: 500px;
   /* border: black solid 5px; */
    }

.myName h1{
    font-size: 300%;
    padding-top: 175px;
    
    
    }


#pop-up{

  top: -400px;
    animation: drop 1s ease forwards; 

}

@keyframes drop{
    0% {transform: translateY(-250px) }
    70%{transform: translateY(0px)}
    100% {transform: translateY(-5px)}

    0% {opacity: 0}
    100% {opacity: 1}
}


.typning{
    animation: typingText 2s 2s steps(55) forwards, blink 0.5s infinite alternate;
    overflow:hidden;
    white-space: nowrap;
    border-right: 3px solid black;
    opacity: 0;
}

@keyframes typingText{
    from{
    width: 0;
    opacity: 0;
    }
    to {
    width:55ch;
    opacity: 1;
    }
}


@keyframes blink{
    from{
    border-color: transparent;
    }
    to {
    border-color: black;
    }
}



.profilePic{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 500px;
    height: 500px;
    background-image: url('profilePic.jpg');
    background-size: cover;
    display: block;
    border-top-left-radius: 250px;  
    border-bottom-left-radius: 250px; 
    overflow: hidden;
    opacity: 0;
}  

@media screen and (max-width: 1240px){

    .profilePic{
        display:none;
    }
}

 
#slide{
    
    animation: slide 1s 1s ease forwards;
}

@keyframes slide{
    from {transform: translateX(500px)}
    to{transform: translateX(50px)}

    0% {opacity: 0}
    100% {opacity: 1}
}

.aboutMe {
    

    padding: 100px;
    background-color: #333b50;
    margin: auto;
    height: 250px;
    width: ;
   text-align: center;
   color: white;

}

.aboutMe h1{
    font-size: 150%;
}


.about{
    animation: fade 2s 6s ease forwards;
}

@keyframes fade{
    0%{opacity: 0};
    100%{opacity: 1};
}



/* Projects */

.projects{
    margin: auto;
    
     /* border: black solid 5px;*/
    text-align: center;

}

/* Contact */

.contacts{
    margin: auto;
    
    /* border: black solid 5px;*/
    text-align: center;

}


/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-github {
    background:  #24292e;
    color: white;
}

.fa-facebook {
    background: #3B5998; 
    color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}